# Give specific contributors approval power over the entire repository
*       @drbmschick
*       @RohanJoshi2
*       @AbhinavJag

# Give a specific contributor approval power over only the 'src' folder
# /src/   @username3
